* {
  font-family: "Poppins", sans-serif;
}
.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
}
body {
  background-color: #ffff;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.fade-out {
  opacity: 0;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}
