* {
  font-family: "Poppins", sans-serif;
}
.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
}
body {
  background-color: #F8FAFC;
  height: 100vh;
  width: 100vw;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}
